.transactionsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .general {
    display: flex;
    gap: 12px;
    .left {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;
    }
  }
}
