.latestTransactions {
  h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .list {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;

    .item {
      display: flex;
      gap: 12px;
      align-items: center;
      transition: background-color 0.25s;
      padding: 8px;
      cursor: pointer;
      &:hover {
        background-color: rgba(#000, 0.06);
      }
      &:not(:first-child) {
        border-top: 1px solid #eaeaea;
      }

      .icon {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background: #222; // random dark позже
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
      }

      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 3px;
        .topRow {
          display: flex;
          justify-content: space-between;
          font-weight: 500;
          .name {
            font-size: 14px;
          }
          .amount {
            white-space: nowrap;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 2px;
          }
        }
        .bottomRow {
          font-size: 12px;
          flex-direction: column;
          display: flex;
          color: #888888;
        }
      }
    }
  }
}
