.screen {
  flex-shrink: 0;
  width: 370px;
  height: 720px;
  background: #f5f8fa;
  box-shadow: 0 0 18px -6px rgba(0, 0, 0, 0.44);
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  .screenContent {
    padding: 24px;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .phoneLine {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 6px;
    border-radius: 20px;
    background: rgba(#000, 0.5);
    position: absolute;
  }
}
