@use "normalize";
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #faf6f6;
  gap: 36px;
  font-family:
    Funnel Sans,
    sans-serif;
}
