.noPaymentsDue {
  padding: 8px;
  border-radius: 8px;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;

  p {
    font-size: 12px;
    &:last-child {
      color: #888888;
    }
  }
  .check {
    border-radius: 50%;
    padding: 8px;
    background: #f1f1f1;
    align-self: end;
    border: 1px solid #cdcdcd;
  }
}
